* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: bisque;
}

.main-header {
  max-width: 1920px;
  height: 68px;
  border-top: 1px solid #ededed;
  background-color: #ffffff;
}

.header-contents {
  padding: 13px 360px;
  display: flex;
  justify-content: space-between;
}

.post-name {
  font-size: 24px;
  font-weight: bold;
}

.header-content {
  display: flex;
  gap: 28px;
}

.proflies-content {
  display: flex;
  gap: 11px;
  align-items: center;
}

.proflies {
  display: flex;
  align-items: center;
}

.proflie {
  width: 28px;
  height: 28px;
  border: 1.4px solid #ffffff;
  border-radius: 140px;
  background-color: black;
  margin-left: -8px;
}

.proflie:first-child {
  margin-left: 0;
}

.message-counts span {
  font-weight: bold;
}

.btn-contents {
  display: flex;
  gap: 8px;
}

.btn-reaction {
  display: flex;
  gap: 2px;
}

.message-reactions {
  display: flex;
  gap: 8px;
}

.message-reaction {
  padding: 8px 12px;
  border-radius: 32px;
  background-color: rgba(0, 0, 0, 0.54);
}

.reaction {
  display: flex;
  gap: 2px;
  color: #ffffff;
}

.reaction-emotion {
  width: 20px;
  height: 20px;
}

.main-contents {
  padding: 100px 400px;
  display: flex;
  gap: 20px;
}

.card {
  width: 384px;
  height: 280px;
  border-radius: 16px;
  background-color: #ffffff;
}

.card-head {
  padding: 28px 24px;
  display: flex;
  gap: 14px;
}

.card-proplie {
  width: 56px;
  height: 56px;
  border: 1px solid #eeeeee;
  border-radius: 100px;
}

.card-contents {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.card-sender {
  font-size: 20px;
}

.card-sender span {
  font-weight: bold;
}

.card-relationship {
  padding: 0 8px;
  border-radius: 4px;
  background-color: #f8f0ff;
  font-size: 14px;
}

.card-body {
  width: 336px;
  height: 106px;
  padding: 12px 24px;
  font-size: 18px;
  color: #4a4a4a;
  border-top: 1px solid #eeeeee;
}

.card-footer {
  padding: 12px 24px;
  font-size: 12px;
  color: #999999;
}
